body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.b1 {
  text-align: center;
}
.b2 {
  background-color : orange; 
  position : sticky; 
  font-family :10em;
}

.b3 {
  margin-left: "20px";
}
.b4 {
  float: right; 
  font-size : 15px;
}
